.flexbox-header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    left: 18px;
    right: 0px;
    top: 0px;
    height: 56px;
    min-width: 520px;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-color: rgb(213, 213, 213);  
    border-bottom-width: 1px;
}

.lines-logo-flexbox {
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin-top: 3px;
}
.hamburger-menu-img {
    width: 24px;
}
.youtube-logo-img {
    width: 90px;
}
.search-microphone-flexbox {
    display: flex;
    justify-content: space-between;
    flex: 1;
    max-width: 469px;
    align-items: center;
    margin-left: 60px;
}
.search-box, .search-button {
    border-color: rgb(201, 201, 201);
    border-style: solid;
    border-width: 1px;
    border-radius: 1.4px;
}
.search-box {
    font-size: 16px;
    font-weight: 330;
    padding-top: 10.75px;
    padding-bottom: 8.75px;
    padding-left: 11px;
    box-shadow: inset 1px 1px 1px rgba(120, 120, 120, 0.12);
    flex: 1;
    width: 0;
}
.search-box::placeholder {
    font-family: Roboto, arial;   
    color: rgb(162, 162, 162); 
}
.search-button {
    height: 40px;
    width: 65px;
    background-color: rgb(243, 242, 242);
    margin-left: -1px;
}
.search-button:hover {
    background-color: rgb(234, 234, 234);
}
.search-button-img {
    width: 25px;
    margin-top: 5px;
    margin-bottom: 2px;
}
.voice-search-button {
    border-radius: 40px;
    border: none;
    margin-left: 8px;
    width: 40px;
    height: 40px;
    background-color: rgb(247, 247, 247);
}
.voice-search-img {
    height: 24px;
    margin-top: 3px;
    
}
.icons-flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 194px;
    margin-top: 3px;
    margin-right: 18px;
    margin-left: 29.5px;
    flex-shrink: 0;    
}

.notification-button {
    position: relative;
    height: 50px;
}

.notification-counter {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(207, 2, 2);
    border-radius: 25px;
    border: solid;
    border-color: white;
    border-width: 2px;
    top: 8.5px;
    right: -1px;
    aspect-ratio: 1/1;
    min-width: 15.5px;
}

.notification-counter-text {
    color: white;
    font-size: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

.my-channel-img {
    width: 32px;
}
