.side-bar-flexbox {
    display: inline-flex;
    position: fixed;
    z-index: 1;
    background-color: white;
    flex-direction: column;
    justify-content: start;
    width: 72px;
    top: 56px;
    bottom: 0px;
    left: 0px;
}

.side-bar-flexbox button {
    height: 74px;
    width: 100%; 
     
}

.side-bar-flexbox button:hover {
    background-color: rgb(229, 229, 229);
}

.side-bar-flexbox button p {
    font-size: 10px;
    margin-top: 3px;
    margin-bottom: 0px;
}

#home-button {
    margin-top: 4px;
}