
.video-grid {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px 16px;
    background-color: rgb(247, 247, 247);
    padding: 24px;
    border-top-style: solid;
    border-color: rgb(226, 226, 226);
    border-width: 1px;
}

.thumbnail-div {
    position: relative;
}

.thumbnails {
    width: 100%;
}

.vid-length-div {
    position: absolute;
    background-color: black;
    color: white;
    font-weight: bold;
    font-family: Roboto, Arial;
    font-size: 12px;
    right: 4px;
    bottom: 11px;
    padding: 4px;
}

.pic-text-grid {
    display: grid;
    grid-template-columns: 36px 1fr;
    grid-gap: 12px;
}
.channel-pics-cl {
    vertical-align: top;
    width: 100%;
    margin-top: 8px;
    border-radius: 35px;   
}

.name-text, 
.stats-text {
    color: rgb(104, 104, 104);
    font-size: 12px;
    
}
.name-text {
    margin-bottom: 3px;
    margin-top: 10px;
}
.stats-text {
    margin-top: 4px;
}
.vid-title {
    color: black;
    font-size: 14px;
    font-weight: 550;
    line-height: 20px;
    margin-top: 8px;
    margin-bottom: 0px;
}